allow priv_app boottime_prop:file read;
allow priv_app device:dir { open read };
allow priv_app device_logging_prop:file read;
allow priv_app proc:file { getattr open read };
allow priv_app proc_modules:file { getattr open read };
allow priv_app sysfs:{ dir file } { read open };
allow priv_app otapreopt_slot_exec:file getattr;
allow priv_app postinstall_file:filesystem getattr;
